<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.check.auth.g3.core.checkauth.dao.AuthInstDetailMapper">

	<resultMap id="detailMap" type="com.check.auth.g3.core.checkauth.entity.AuthInstDetailEntity">
		<result property="id               " column="id               " />
		<result property="address          " column="address          " />
		<result property="busiScope        " column="busiScope        " />
		<result property="busiScopeName    " column="busiScopeName    " />
		<result property="businessNumber   " column="businessNumber   " />
		<result property="cccBusinessScope " column="cccBusinessScope " />
		<result property="contactPeroson   " column="contactPeroson   " />
		<result property="districtCode     " column="districtCode     " />
		<result property="districtCodeName " column="districtCodeName " />
		<result property="email            " column="email            " />
		<result property="exchangeDate     " column="exchangeDate     " />
		<result property="fax              " column="fax              " />
		<result property="instCode         " column="instCode         " />
		<result property="instName         " column="instName         " />
		<result property="instStatus       " column="instStatus       " />
		<result property="instType         " column="instType         " />
		<result property="oldInstCode      " column="oldInstCode      " />
		<result property="orgCode          " column="orgCode          " />
		<result property="post             " column="post             " />
		<result property="principal        " column="principal        " />
		<result property="principalRegNum  " column="principalRegNum  " />
		<result property="principalTypeName" column="principalTypeName" />
		<result property="ratifyDate       " column="ratifyDate       " />
		<result property="recordScope      " column="recordScope      " />
		<result property="recordTs         " column="recordTs         " />
		<result property="regCapital       " column="regCapital       " />
		<result property="regCapitalType   " column="regCapitalType   " />
		<result property="remarks          " column="remarks          " />
		<result property="tel              " column="tel              " />
		<result property="validityDate     " column="validityDate     " />
		<result property="website          " column="website          " />
		<result property="zdjgBm           " column="zdjgBm           " />
		<result property="zdjgName         " column="zdjgName         " />
		<result property="orgType          " column="orgType          " />
		<result property="CNASRecognization" column="CNASRecognization" />
		<result property="outSideRecognization" column="outSideRecognization" />
		<result property="highNewTecRec" column="highNewTecRec" />

	</resultMap>
	<sql id="selectSql">
		t1.id,
		t1.address,
		t1.busiScope,
		t1.busiScopeName,
		t1.businessNumber,
		t1.cccBusinessScope,
		t1.contactPeroson,
		t1.districtCode,
		t1.districtCodeName,
		t1.email,
		t1.exchangeDate,
		t1.fax,
		t1.instCode,
		t1.instName,
		t1.instStatus,
		t1.instType,
		t1.oldInstCode,
		t1.orgCode,
		t1.post,
		t1.principal,
		t1.principalRegNum,
		t1.principalTypeName,
		t1.ratifyDate,
		t1.recordScope,
		t1.recordTs,
		t1.regCapital,
		t1.regCapitalType,
		t1.remarks,
		t1.tel,
		t1.validityDate,
		t1.website,
		t1.zdjgBm,
		t1.zdjgName,
		t2.orgType,
		t2.CNASRecognization,
		t2.outSideRecognization,
		t2.highNewTecRec
		from tbl_auth_inst_main_info
		t1,tbl_inst_cert_auth t2
		where t1.orgCode = t2.orgId

	</sql>
	<select id="getAuthMainInfoByKeyWord" resultMap="detailMap" parameterType="java.lang.String">
		<include refid="selectSql"></include>
		and t1.instName like CONCAT('%',#{keyword},'%')
		or t1.busiScopeName
		like CONCAT('%',#{keyword},'%')
		or t1.districtCodeName like
		CONCAT('%',#{keyword},'%')
		ORDER BY t1.id
		LIMIT 5
		
	</select>
	<select id="getAuthMainInfoByInstName" resultMap="detailMap" parameterType="java.lang.String">
        select
		<include refid="selectSql"></include>
		and t1.instName like CONCAT('%',#{instName},'%')
		order by t1.id
		limit 5
	</select>
	<select id="getAuthMainInfoByBusiScopeName"
		resultMap="detailMap"
		parameterType="java.lang.String">
		<include refid="selectSql"></include>
		and t1.busiScopeName
		like CONCAT('%',#{busiScopeName},'%')
		order by t1.id
		limit 5
	</select>
	<select id="getAuthMainInfoByDistrictCodeName"
		resultMap="detailMap"
		parameterType="java.lang.String">
		<include refid="selectSql"></include>
		and t1.districtCodeName like
		CONCAT('%',#{keyword},'%')
		order by t1.id
		limit 5
	</select>
	<insert id="insert" parameterType="com.check.auth.g3.core.checkauth.entity.AuthInstDetailEntity">
		insert into tbl_auth_inst_detail
		(id,address,busiScope,busiScopeName,businessNumber,cccBusinessScope,contactPeroson,districtCode,districtCodeName,email,exchangeDate,fax,instCode,instName,instStatus,instType,oldInstCode,orgCode,post,principal,principalRegNum,principalTypeName,ratifyDate,recordScope,recordTs,regCapital,regCapitalType,remarks,tel,validityDate,website,zdjgBm,zdjgName)
		values(#{id},#{address},#{busiScope},#{busiScopeName},#{businessNumber},#{cccBusinessScope},#{contactPeroson},#{districtCode},#{districtCodeName},#{email},#{exchangeDate},#{fax},#{instCode},#{instName},#{instStatus},#{instType},#{oldInstCode},#{orgCode},#{post},#{principal},#{principalRegNum},#{principalTypeName},#{ratifyDate},#{recordScope},#{recordTs},#{regCapital},#{regCapitalType},#{remarks},#{tel},#{validityDate},#{website},#{zdjgBm},#{zdjgName})
	</insert>
	<resultMap type="com.check.auth.g3.core.checkauth.entity.AuthInstDetailTempEntity" id="authDetailTempMap">
		<result property="id" column="id"/>
		<result property="instCode" column="inst_code"/>
		<result property="instName" column="inst_name"/>
		<result property="instStatus" column="inst_status"/>
		<result property="instType" column="inst_type"/>
		<result property="principal" column="principal"/>
		<result property="ratifyDate" column="ratify_date"/>
		<result property="validatyDate" column="validity_date"/>
		<result property="contactPerson" column="contact_person"/>
		<result property="tel" column="tel"/>
		<result property="address" column="address"/>
		<result property="districtCode" column="district_code"/>
		<result property="districtCodeName" column="district_code_name"/>
		<result property="cccBm" column="cccBm"/>
		<result property="fax" column="fax"/>
		<result property="email" column="email"/>
		<result property="post" column="post"/>
		<result property="principalRegNum" column="principal_reg_num"/>
		<result property="principalRegName" column="principal_type_name"/>
		<result property="regCapital" column="reg_capital"/>
		<result property="webSite" column="website"/>
		<result property="isCCCInst" column="is_ccc_inst"/>
		<result property="cnasRec" column="cnas_rec"/>
		<result property="outSideRec" column="outside_rec"/>
		<result property="highNewTecRec" column="high_new_tec_rec"/>
		<result property="org_code" column="org_code"/>
		<result property="entHode" column="ent_hold"/>
		<result property="detailId" column="detail_id"/>
	</resultMap>
	
	<select id="selectInstDetailByInstCode" resultMap="authDetailTempMap" parameterType="java.lang.String">
		SELECT
			t1.id,
			t1.inst_code,
			t1.inst_name,
			t1.inst_status,
			t1.inst_type,
			t1.principal,
			t1.ratify_date,
			t1.validity_date,
			t1.contact_person,
			t1.tel,
			t1.address,
			t1.district_code,
			t1.district_code_name,
			t1.cccBm,
			t2.fax,
			t2.email,
			t2.post,
			t2.principal_reg_num,
			t2.principal_type_name,
			t2.reg_capital,
			t2.website,
			t2.is_ccc_inst,
			t2.cnas_rec,
			t2.outside_rec,
			t2.high_new_tec_rec,
			t2.org_code,
			t2.ent_hold,
			t2.id AS detail_id
		FROM
			tbl_auth_inst t1,
			tbl_auth_inst_detail t2
		WHERE
			1 = 1
		AND t1.inst_code = t2.inst_code
		AND t1.inst_code = #{instCode}
	</select>
	
	<resultMap type="com.check.auth.g3.core.checkauth.entity.AuthTypeAreaTempEntity" id="authTypeArea">
		<result property="typeCode" column="type_code"/>
		<result property="typeName" column="type_name"/>
		<result property="authAreaCode" column="auth_area_code"/>
		<result property="authAreaName" column="auth_area_name"/>
	</resultMap>
	
	<select id="selectAuthTypeAreaById" parameterType="int" resultMap="authTypeArea">
		SELECT
			tb3.type_code,
			tb3.type_name,
			tb2.auth_area_code,
			tb2.auth_area_name
		FROM
			tbl_auth_inst_busi_stat tb1,
			tbl_auth_area tb2,
			tbl_auth_type tb3
		WHERE
			tb1.auth_area_id = tb2.id
		AND tb2.auth_type_code = tb3.type_code
		AND tb1.auth_inst_detail_id = #{id}
	</select>
	
	<resultMap type="com.check.auth.g3.core.checkauth.entity.AuthTypeStatTempEntity" id="authTypeStat">
		<result property="typeName"  column="type_name"/>
		<result property="effCerNum" column="auth_num"/>
		<result property="authPerNum" column="total_auth_person"/>
	</resultMap>
	<select id="selectAuthTypeStatById" parameterType="int" resultMap="authTypeStat">
		SELECT
		tb4.type_name,
		SUM(tb4.auth_num) as auth_num,
		SUM(tb4.total_auth_person) as total_auth_person
		FROM
		(
			SELECT
				tb3.type_code,
				tb3.type_name,
				tb2.auth_area_code,
				tb2.auth_area_name,
				tb1.auth_num,
				tb1.full_time_num + tb1.part_time_num AS total_auth_person
			FROM
				tbl_auth_inst_busi_stat tb1,
				tbl_auth_area tb2,
				tbl_auth_type tb3
			WHERE
				tb1.auth_area_id = tb2.id
			AND tb2.auth_type_code = tb3.type_code
			AND tb1.auth_inst_detail_id = #{id}
		) tb4
	GROUP BY
		tb4.type_name
	</select>
</mapper>

