<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.check.auth.g3.core.checkauth.dao.AuthInstDetailMapper">

	<resultMap id="detailMap" type="com.check.auth.g3.core.checkauth.entity.AuthInstDetailEntity">
		<result property="id"                column="id" />
		<result property="address"           column="address" />
		<result property="busiScope"         column="busi_scope" />
		<result property="busiScopeName"     column="busi_scope_name" />
		<result property="businessNumber"    column="business_number" />
		<result property="cccBusinessScope"  column="ccc_business_scope " />
		<result property="contactPerson"     column="contact_person" />
		<result property="districtCode"      column="district_code" />
		<result property="districtCodeName"  column="district_code_name" />
		<result property="email"             column="email" />
		<result property="exchangeDate"      column="exchange_date" />
		<result property="fax"               column="fax" />
		<result property="instCode"          column="inst_code" />
		<result property="instName"          column="inst_name" />
		<result property="instStatus"        column="inst_status" />
		<result property="instType"          column="inst_type" />
		<result property="oldInstCode"       column="old_inst_code" />
		<result property="orgCode"           column="org_code" />
		<result property="post"              column="post" />
		<result property="principal"         column="principal" />
		<result property="principalRegNum"   column="principal_reg_num" />
		<result property="principalTypeName" column="principal_type_name" />
		<result property="ratifyDate"        column="ratify_date" />
		<result property="recordScope"       column="record_scope" />
		<result property="recordTs"          column="record_ts" />
		<result property="regCapital"        column="reg_capital" />
		<result property="regCapitalType"    column="reg_capital_type" />
		<result property="remarks"           column="remarks" />
		<result property="tel"               column="tel" />
		<result property="validityDate"      column="validity_date" />
		<result property="website"           column="website" />
		<result property="zdjgBm"            column="zdjg_bm" />
		<result property="zdjgName"          column="zdjg_name" />
		<result property="orgType"           column="org_type" />
		<result property="cnasRec"           column="cnas_rec" />
		<result property="outsideRec"        column="outside_rec" />
		<result property="highNewTecRec"        column="high_new_tec_rec" />
        <result property="isCCInst"             column="is_cc_inst"/>
        <result property="entHode"              column="ent_hode"/>
        <result property="authYear" column="auth_year"/>
        <result property="authCount" column="auth_count"/>
	</resultMap>

	<sql id="allColumns">
		t1.id id,
		t1.busi_scope busi_scope,
		t1.busi_scope_name busi_scope_name,
		t1.business_number business_number,
		t1.ccc_business_scope ccc_business_scope,
		t1.email email,
		t1.exchange_date exchange_date,
		t1.fax fax,
		t1.old_inst_code old_inst_code,
		t1.org_code org_code,
		t1.post post,
		t1.principal_reg_num principal_reg_num,
		t1.principal_type_name principal_type_name,
		t1.record_scope record_scope,
		t1.record_ts record_ts,
		t1.reg_capital reg_capital,
		t1.reg_capital_type reg_capital_type,
		t1.website website,
		t1.zdjg_bm zdjg_bm,
		t1.zdjg_name zdjg_name,
		t1.cnas_rec cnas_rec,
		t1.outside_rec outside_rec,
		t1.high_new_tec_rec high_new_tec_rec,
		t2.address address,
		t2.contact_person contact_person,
        t2.district_code district_code,
		t2.district_code_name district_code_name,
		t1.inst_code inst_code,
		t1.inst_name inst_name,
		t5.status_name inst_status,
		t4.code_name inst_type,
		t2.tel tel,
		t2.principal principal,
		t2.ratify_date ratify_date,
		t2.validity_date validity_date,
		t3.auth_year auth_year,
		t3. auth_count auth_count
	</sql>

	<insert id="insert" parameterType="com.check.auth.g3.core.checkauth.entity.AuthInstDetailEntity">
		insert into tbl_auth_inst_detail
		(id,address,busiScope,busiScopeName,businessNumber,cccBusinessScope,contactPeroson,districtCode,districtCodeName,email,exchangeDate,fax,instCode,instName,instStatus,instType,oldInstCode,orgCode,post,principal,principalRegNum,principalTypeName,ratifyDate,recordScope,recordTs,regCapital,regCapitalType,remarks,tel,validityDate,website,zdjgBm,zdjgName)
		values(#{id},#{address},#{busiScope},#{busiScopeName},#{businessNumber},#{cccBusinessScope},#{contactPeroson},#{districtCode},#{districtCodeName},#{email},#{exchangeDate},#{fax},#{instCode},#{instName},#{instStatus},#{instType},#{oldInstCode},#{orgCode},#{post},#{principal},#{principalRegNum},#{principalTypeName},#{ratifyDate},#{recordScope},#{recordTs},#{regCapital},#{regCapitalType},#{remarks},#{tel},#{validityDate},#{website},#{zdjgBm},#{zdjgName})
	</insert>

	<select id="selectDetailByInstCode" resultMap="detailMap" parameterType="java.lang.String">
        SELECT   <include refid="allColumns"/>
        from tbl_auth_inst_detail t1
        left join tbl_auth_inst t2 on t1.inst_code=t2.inst_code
        left join tbl_auth_statics t3 on t1.id=t3.inst_detail_id
        left join tbl_auth_inst_type t4 on t2.inst_type=t4.code_type
        left join tbl_auth_inst_status t5 on t2.inst_status = t5.status_code
		WHERE t1.inst_code=#{instCode}
	</select>

    <select id="selectDetailByInstName" resultMap="detailMap" parameterType="java.lang.String">
        SELECT   <include refid="allColumns"/>
        from tbl_auth_inst_detail t1
        left join tbl_auth_inst t2 on t1.inst_code=t2.inst_code
        left join tbl_auth_statics t3 on t1.id=t3.inst_detail_id
        left join tbl_auth_inst_type t4 on t2.inst_type=t4.code_type
        left join tbl_auth_inst_status t5 on t2.inst_status = t5.status_code
        where t1.instName like CONCAT('%',#{instName},'%')
    </select>

    <select id="selectCountByFuzzyMap" resultType="long" parameterType="java.util.Map">
        SELECT count(1)
        from tbl_auth_inst_detail t1
        left join tbl_auth_inst t2 on t1.inst_code=t2.inst_code
        left join tbl_auth_statics t3 on t1.id=t3.inst_detail_id
        left join tbl_auth_inst_type t4 on t2.inst_type=t4.code_type
        where 1=1
        <choose>
            <when test="instName!='' and instName != null">
                and t1.inst_name like CONCAT('%',#{instName},'%')
            </when>
            <when test="districtCodeName!='' and districtCodeName!=null">
                and t1.district_code_name like CONCAT('%',#{districtCodeName},'%')
            </when>
            <when test="instType!='' and instType!=null">
                and t2.inst_type like CONCAT('%',#{instType},'%')
            </when>
            <otherwise>
                and (t1.inst_name like CONCAT('%',#{instName},'%')
                or t1.district_code_name like CONCAT('%',#{districtCodeName},'%')
                or t2.inst_type like CONCAT('%',#{instType},'%'))
            </otherwise>
        </choose>
/*
        and t3.auth_year='2016'
*/
    </select>


    <select id="selectDetailListByFuzzyMap" resultMap="detailMap" parameterType="java.util.Map">
        SELECT   <include refid="allColumns"/>
        from tbl_auth_inst_detail t1
        left join tbl_auth_inst t2 on t1.inst_code=t2.inst_code
        left join tbl_auth_statics t3 on t1.id=t3.inst_detail_id
        left join tbl_auth_inst_type t4 on t2.inst_type=t4.code_type
        left join tbl_auth_inst_status t5 on t2.inst_status = t5.status_code
        where 1=1
        <choose>
            <when test="instName!='' and instName != null">
                and t1.inst_name like CONCAT('%',#{instName},'%')
            </when>
            <when test="districtCodeName!='' and districtCodeName!=null">
                and t1.district_code_name like CONCAT('%',#{districtCodeName},'%')
            </when>
            <when test="instType!='' and instType!=null">
                and t2.inst_type like CONCAT('%',#{instType},'%')
            </when>
            <otherwise>
                 and ( t1.inst_name like CONCAT('%',#{instName},'%')
                 or t1.district_code_name like CONCAT('%',#{districtCodeName},'%')
                 or t2.inst_type like CONCAT('%',#{instType},'%'))
            </otherwise>
        </choose>
/*
        and t3.auth_year='2016'
*/
        order by t1.id desc
        LIMIT #{offset}, #{limit}
    </select>

</mapper>

