<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<!-- 数据库访问对象别名 -->
		<typeAlias type="com.check.dao.IAuthInstDirDao" alias="iAuthInstDirDao" />
		<typeAlias type="com.check.entity.AuthInstDirEntity" alias="authInstDirEntity" />
		
	</typeAliases>
	
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- 配置数据库连接信息 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost:3306/myfile?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull" />
				<property name="username" value="root" />
				<property name="password" value="" />
            </dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- 注册userMapper.xml文件 -->
		<mapper resource="mapper/IAuthInstDir.xml" />
	</mappers>
</configuration>